/* fonts 

font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;

//////////////     USAR SASS      ///////////////////////////////

*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/*//////////////////////////////////*/

/* reset */

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 86px;
}

body {
    font-family: 'Poppins', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

nav {
    background-color: rgba(1, 26, 170, 0.9);
    backdrop-filter: blur(0.2rem);
}

.navUl {
    font-weight: 500;
}

.navbar-brand {
    cursor: default;
}

.nav-link {
    font-size: 1.1rem;
    color: #FFF;
    letter-spacing: 0.13rem;
    filter: drop-shadow(3.5px 3.5px 3px rgba(72, 197, 255, 0.3));
    transition: all 200ms ease;
}

.nav-link:hover, .nav-link:focus {
    color: #9bffff;
    filter: drop-shadow(3.5px 3.5px 3px rgba(0, 0, 0, 0.25));
}

.logoContainer {
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    transition: all 150ms linear;
}

.logoContainer:hover {
    transform: scale(1.025);
}

.carouselContainer {
    margin-top: 86.6px;
}

h1 {
    text-shadow: 0.21rem 0.21rem 0.05rem #0119a1;
    font-weight: 700;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 3rem;
    color: #000958;
    text-shadow: 0.15rem 0.15rem 0.125rem #4082c0;
}

.aboutUsImgContainer {
    width: 200rem;
}

#servicesSection {
    background-color: #2d7fdd;
}

.lightTitle {
    color: #FFF;
    text-shadow: 0.15rem 0.15rem 0.125rem #000958;
}

.card-title {
    font-weight: 700;
    color: #1e6fca;
}

#footer {
    background-color: #011aaa;
}